/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Topo */
.brand {

		display: block;
		float: left;
		margin: 0;

}

.navbar .container {
	position: relative;
}

.nav {
	float: left;
}

.new-thread {
	color: #fff;
	margin-top: 8px;
	position: absolute;
	right: 0;
}

/* Início */


/* Contato */
.contato-form{ width: 80%; }